html,
body{
    background: url('https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.myh{
    text-transform: uppercase;
    animation: bounce;
    animation-duration: 1s;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumplink{
    color: yellow;
}